<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="boardDTO" class="com.ohgiraffers.common.BoardDTO">
        <constructor-arg name="id" value="12312312" />
        <constructor-arg name="title" value="도서1" />
        <constructor-arg name="content" value="컴퓨터관련" />
        <constructor-arg name="writer" value="컴컴컴" />
    </bean>

</beans>